{% extends 'cardiology/base.html' %}

{% block title %}{{ examination_title }}{% endblock %}

{% block content %}
    <h1>{{ examination_title }}</h1>
    <h2>{{ examination.title }}</h2>
    <p><strong>Patient:</strong> {{ examination.patient }}</p>
    <p><strong>Date and Time of Examination:</strong> {{ examination.datetime }}</p>
    
    {% for field_name, field_value in fields.items %}
        <p><strong>{{ field_name }}:</strong> {{ field_value }}</p>
    {% endfor %}

    {% if examination.comment %}
        <p><strong>Comment:</strong> {{ examination.comment }}</p>
    {% endif %}
    
   
{% endblock %}
